pandas==2.2.2
streamlit==1.33.0
torch==2.2.1
transformers==4.37.2
ipython==8.24.0
plotly==6.0.0
altair==5.3.0
natasha==1.6.0
sbert_punc_case_ru @ git+https://huggingface.co/kontur-ai/sbert_punc_case_ru@f778dc6c63bb0ec235a220488862509810e54583